<% if user_signed_in? %>
  <li id="logOutButton">
  <%= button_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= button_to('Login', new_user_session_path)  %>
  </li>
<% end %>
