<html>
  <head>
    <title>MobileLibrary</title>
    <body>
      <h1>Hello Juliet! This is your library </h1>
      <div id = 'bookslist'>

          <table class = 'booksdisplay'>
            <tr>
              <th>Name</th>
              <th>Author</th>
              <th>ISBN</th>
            </tr>
            <tbody data-bind="foreach: books">
            <tr>
              <td> <input data-bind='value: title'/> </td>
              <td> <input data-bind='value: author'/> </td>
              <td> <input data-bind='value: isbn'/> </td>
            </tr>
          </tbody>
        </table>
        <button data-bind='click: addBook'>Add Book</button>
      </div>
    </body>
  </head>
</html>


