/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container h2{
  font-family: 'Lato', sans-serif;
}

.container a{
  font-family: 'Lato', sans-serif;
}

.container input{
  font-family: 'Lato', sans-serif;
}


.new_user{
  font-family: 'Lato', sans-serif;
  width:80%;
  left:500px;
}

.loginForm{
  width:35.5em;
  height:20.0em;
  margin:0 auto;
}

.bookPic{
  width:35.5em;
  height:30.0em;
  margin:0 auto;
  background-image: url('http://julioh.com/Tech-Specs_files/iStock1502751Large-B-flat.jpg');
  background-repeat: no-repeat;
}

.quote{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 90%;
}

@media screen and (min-width: 35.5em){
.pure-u-sm-1{

  }
}

@media screen and (min-width: 48em){
.pure-u-md-1{

  }
}

@media screen and (min-width: 64em){
  .pure-u-lg-1{

  }
}




/*@media screen and (min-width: 64em){
  .new_user{
  }

}

@media screen and (min-width: 48em){
  .new_user{
    color:yellow;
  }

}

@media screen and (min-width: 35.5em){
  .new_user{
  }

}*/


